{% extends 'base.html.twig' %}

{% block title %}Mes adresses!{% endblock %}

{% block body %}
    <a href="" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <h1>Mes adresses</h1>

     <p> C'est ici que vous pourrez modifier toutes vos adresses.</p><br />
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    Vue de mes adresses
{% endblock %}
