{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <p> Bienvenue {{ app.user.firstname }} dans votre espace compte.</p>
    <p> C'est ici que vous pourrez modifier vos informations personnelles.</p>

    <hr>
    <a href="{{ path('account_password') }}">Changer mot de passe</a>
    <a href="{{ path('account_address') }}">Gérer mes adresses</a>


{% endblock %}
