{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %} {# Utiliser pour dire si l'user est un admin #}
        <small><a href="/admin">Si vous êtes un administrateur, vous pouvez accèder au backoffice</a></small><br/>
    {% endif %}

    <p> Bienvenue {{ app.user.firstname }} dans votre espace compte.</p>
    <p> C'est ici que vous pourrez modifier vos informations personnelles.</p>

    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
{% endblock %}
