{% extends 'base.html.twig' %}

{% block title %}Mon site E-commerce!{% endblock %}

{% block body %}

    <h3>Nos meilleurs ventes</h3>
    <p>Venez découvrir les articles les plus vendus</p>

    <div class="row">
        {%  for product in products %}
            <div class="col-md-3">
                {# Méthode pour afficher les meilleurs vente de produits grace à la balise 'include' #}
                {%  include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
